[submodule "btrfs-progs"]
	path = btrfs-progs
	url = https://git.kernel.org/pub/scm/linux/kernel/git/mason/btrfs-progs.git

[submodule "bedup/btrfs-progs"]
        path = bedup/btrfs-progs
        url = https://git.kernel.org/pub/scm/linux/kernel/git/mason/btrfs-progs.git

